.card-title {
  height: 50px;
}
.card-text {
  line-height: 1.5rem;
  height: 4.5rem;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
